
    <h1>Criar disciplina</h1>
    <hr>
    <div class="textos">
        <span>
            <label>Digite o Titulo</label>
            <input [(ngModel)]="discDados.nome" type="text">
        </span>
        <span>
            <label for="opcoes">Escolha um curso:</label>
            <select id="opcoes" [(ngModel)]="discDados.curso">
                <option [ngValue]="null" disabled selected>Selecione</option>
                  @for (curso of cursoArray; track curso) {
                    <option [ngValue]="curso">{{curso.nome}}</option>
                }
            </select>
        </span>
    </div>
    <div class="btns">
        <button class="cancelar" (click)="closeDialog()">Cancelar</button>
        <button class="salvar" (click)="criarDisciplina()" >salvar</button>
    </div>
