:root{
    --primary: #fff;
    --primary-010: #354f52;
    --primary-020: #52796f;

    --secundary: linear-gradient(297deg,rgba(231, 7, 250, 1) 18%, rgba(161, 6, 244, 1) 82%);
    --secundary-background: #E707FA;

    --white: aliceblue;
    --black: #1d1d1d;
    --black-20: #777777;
    --green: #07FAA5;
    --red: #DE4D4F;


    --gray: #D9D9D9;
}